body {
  font-family: sans-serif;
}
h1 {
  color: #009879;
  text-align: center;
  font-size: 2.5rem;
}
table {
  border-spacing: 1px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table td, table th {
  padding: 8px 12px;
}
table th {
  background-color: #009879;
  color:white;
  font-size: 1.5rem;
}
table td {
  font-size: 1.2rem;
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}